body {
    background-color: #A0A0A0;
    margin: 0;
  }
  
  #content {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
  }
  
  .card {
    height: 600px;
    width: 300px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;
  }
  
  .card img {
    width: 100%;
    max-height: 400px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .card h1 {
    text-align: center;
  }
  
  .card .bar {
    display: block;
    background-color: blue;
    height: 10px;
    border-radius: 10px;
  }
  
  .card p {
    padding: 0 20px;
    margin: 10px 0;
  }